---
import { Image } from "astro:assets";

import externalLink from "@assets/svg/externalLink.svg";
import githubLogo from "@assets/svg/github.svg";
import type { ImageMetadata } from "astro";
import ContentBox from "@components/ContentBox.astro";
import TechList from "@components/TechList.astro";

export interface ImageItem {
  img: ImageMetadata;
  imgAlt: string;
  invert?: boolean;
}

export interface TechItem {
  techName: string;
  techLogo: ImageItem;
  needInvert?: boolean;
}
export interface GalleryItem {
  image: ImageItem;
  caption?: string;
}
interface Props {
  title: string;
  emojis: ImageMetadata[];
  technologies: TechItem[];
  githubRepoLink: string;
  link2: {
    img: ImageMetadata;
    text: string;
    url: string;
  };
  gallery: GalleryItem[];
}

const { title, emojis, technologies, githubRepoLink, link2, gallery } = Astro.props;
---

<ContentBox>
  <div class="text-5xl xs:text-8xl text-center not-prose w-full flex justify-around my-8 border-b-0 space-x-10">
    {
      emojis.map((emoji) => (
        <span>
          <Image src={emoji} alt={emoji.src.split("/").at(-1) || "mutant emoji"} class="size-24" loading="eager" />
        </span>
      ))
    }
  </div>
  <h1 class="mt-5 border-gold pl-2">{title}</h1>
  <section>
    <div class="flex flex-col md:grid grid-cols-2 gap-5 mb-5">
      <summary class="list-none not-prose my-auto"> <slot name="summary" /></summary>
      <nav class="p-1 rounded-lg dark:bg-zinc-900 divide-y-2 bg-zinc-100 divide-zinc-200 md:my-auto not-prose flex flex-col">
        <h2 class="ml-2 mt-2 text-center text-2xl mb-4 text-[var(--tw-prose-headings)]">Contents</h2>
        <div class="grid grid-cols-2 grid-rows-3 items-center text-xl grow min-h-24">
          <span class="text-center"><a class="underline decoration-2 text-center" href="#links">Links</a></span>
          <span class="text-center"><a class="underline decoration-2 text-center" href="#uxFlow">UX Flow</a></span>
          <span class="text-center"><a class="underline decoration-2 text-center" href="#details">Tech Details</a></span>
          <span class="text-center"><a class="underline decoration-2 text-center" href="#challenges">Challenges</a></span>
          <span class="text-center col-span-2"><a class="underline decoration-2 text-center" href="#gallery">Gallery</a></span>
        </div>
      </nav>
    </div>
  </section>

  <section id="goal">
    <h2 class="border-l-2 border-gold pl-2">Goals</h2>
    <slot name="goal" />
    <h2 class="border-l-2 border-gold pl-2">Technologies</h2>
    <!-- <div class="flex justify-around"> -->
    <TechList technologies={technologies} />
  </section>
  <section id="links" class="pb-4">
    <h2 class="border-l-2 border-gold pl-2">Links</h2>
    <div class="flex flex-col md:flex-row justify-around items-center h-full gap-4 my-4">
      <a
        class="max-w-80 ring-2 ring-gold rounded-xl flex items-center p-2 w-full gap-2 dark:hover:bg-zinc-700 hover:bg-zinc-200 dark:bg-zinc-800 bg-zinc-100 decoration-2 justify-between min-h-16"
        href={githubRepoLink}
      >
        <Image src={githubLogo} alt="github logo" class="not-prose w-8 invert dark:invert-0" />
        <span class="text-xl">Github Repo</span>
        <Image src={externalLink} alt="external link" class="w-5 ml-1 not-prose invert dark:invert-0" />
      </a>
      <a
        class="max-w-80 ring-2 ring-gold rounded-xl flex items-center p-2 w-full gap-2 dark:hover:bg-zinc-700 hover:bg-zinc-200 dark:bg-zinc-800 bg-zinc-100 decoration-2 justify-between min-h-16"
        href={link2.url}
      >
        <Image src={link2.img} alt={"test"} class="not-prose w-10 invert dark:invert-0" />
        <span class="text-xl">{link2.text}</span>
        <Image src={externalLink} alt="external link" class="w-5 ml-1 not-prose invert dark:invert-0" />
      </a>
    </div>
  </section>
  <section id="uxFlow">
    <h2 class="border-l-2 border-gold pl-2">UX Flow</h2>
    <slot name="uxFlow" />
  </section>
  <section id="details">
    <h2 class="border-l-2 border-gold pl-2">Details</h2>
    <slot name="details" />
  </section>
  <section id="challenges">
    <h2 class="border-l-2 border-gold pl-2">Challenges</h2>
    <slot name="challenges" />
  </section>
  <section id="gallery">
    <h2 class="border-l-2 border-gold pl-2">Gallery</h2>
    <div class="flex flex-col items-center gap-5">
      {
        gallery?.map((galleryItem) => {
          return (
            <figure>
              <Image src={galleryItem.image.img} alt={galleryItem.image.imgAlt} class="not-prose shadow-sm" />
              <figcaption>{galleryItem.caption}</figcaption>
            </figure>
          );
        })
      }
    </div>
  </section>
</ContentBox>
